{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block breadcrumbs %}" }}
    <li><a href="{{ "{{ 'breadcrumbs.home' | trans }}" }}"><i class="fa fa-home home-icon"></i> {{ "{{ 'breadcrumbs.home' | trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">{{ "{{ 'entity." ~ entity ~ ".index' | trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}" title="{{ "{{ 'msg.ui.show' | trans }}" }}" class="btn btn-xs">{{ "{{ 'nome.entita' | trans }}" }}</a></li>
    <li>{{ "{{ 'breadcrumbs.edit' | trans }}" }}</li>
{{ "{% endblock %}" }}
    
{{ "{% block content %}" }}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lighter blue">{{ "{{ 'entity." ~ entity ~ ".crud.edit.title' | trans }}" }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <div class="widget-toolbar action-buttons">
                            {% set hide_edit, hide_delete = false, false %}
                            {% include 'crud/views/others/record_actions.html.twig.twig' %}
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            {{ "{{ form_start(form) }}" }}
                                <fieldset>
                                    {% for field, metadata in fields %}
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 control-label no-padding-right">{{ " {{ 'entity." ~ entity ~ ".fields." ~ field ~ "' | trans }}" }}</label>
                                            <div class="col-xs-12 col-sm-9">
                                                {{ "{{ form_widget(form." ~ field ~ ") }}" }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                                <div class="form-actions center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ "{{ 'label.save'|trans }}" }}</button>
                                </div>
                                {{ "{{ form_widget(form._token) }}" }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
