{# Template che fa uso di AceUI 1.3 #}

{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}


{% block body -%}
    {{ "{% block breadcrumbs %}" }}
        <li><a href="{{ "{{ 'breadcrumbs.homeroute' | trans }}" }}"><i class="fa fa-home home-icon"></i> {{ "{{ 'breadcrumbs.home' | trans }}" }}</a></li>
        <li>{{ "{{ 'entity." ~ entity ~ ".index' | trans }}" }}</li>
    {{ "{% endblock %}" }}
    
        
    {{ "{% block content %}" }}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="lighter blue">{{ "{{ 'entity." ~ entity ~ ".crud.index.title' | trans }}" }}</h1>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box">
                        <div class="widget-header">
                            {% if 'new' in actions %}
                            <div class="widget-toolbar action-buttons">
                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-xs">
                                    <i class="fa fa-magic"></i> {{ "{{ 'label.new' | trans }}" }}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">        
                    <table class="records_list dataTable table table-striped table-bordered table-hover" class="stripe">
                        <thead>
                            <tr>
                                {% for field, metadata in fields %}
                                    <th>{{ " {{ 'entity." ~ entity ~ ".fields." ~ field ~ "' | trans }}" }}</th>
                                {% endfor %}
                                <th data-bSortable="false">{{ "{{ 'label.actions' | trans }}" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ '{% for entity in entities %}' }}
                                <tr>
                                {% for field, metadata in fields %}
                                    {% if loop.first and ('show' in actions) %}
                                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>
                                    {% elseif metadata.type in ['date', 'datetime'] %}
                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
                                    {% else %}
                                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
                                    {% endif %}
                                    {% if loop.last %}
                                        <td>
                                            {%- include "crud/views/others/actions.html.twig.twig" %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {{ '{% endfor %}' }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}

