{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block breadcrumbs %}" }}
    <li><a href="{{ "{{ 'breadcrumbs.home' | trans }}" }}"><i class="fa fa-home home-icon"></i> {{ "{{ 'label.home' | trans }}" }}</a></li>
    <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">{{ "{{ 'entity." ~ entity ~ ".index' | trans }}" }}</a></li>
    <li>{{ "{{ 'nome.entita' | trans }}" }}</li>
{{ "{% endblock %}" }}
    
    
{{ "{% block content -%}" }}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lighter blue">{{ "{{ 'entity." ~ entity ~ ".crud.show.title' | trans }}" }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box tr__ansparent">
                    <div class="widget-header">
                        <div class="widget-toolbar action-buttons">
                            {% set hide_edit, hide_delete = false, false %}
                            {% include 'crud/views/others/record_actions.html.twig.twig' %}
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="profile-user-info profile-user-info-striped">
                                {% for field, metadata in fields %}
                                    <div class="profile-info-row">
                                        <div class="profile-info-name">{{ " {{ 'entity." ~ entity ~ ".fields." ~ field ~ "' | trans }}" }}</div>
                                        <div class="profile-info-value">
                                        {% if metadata.type in ['date', 'datetime'] %}
                                            {{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}
                                        {% else %}
                                            {{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
