{%- for action in record_actions %}
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}" title="{{ "{{ 'label." ~ action ~ "' | trans }}" }}" class="btn btn-xs">
        {% if action == 'show' %}
            <i class="fa fa-eye"></i> {{ "{{ 'label.show' | trans }}" }}
        {%- elseif action == 'edit' %}
            <i class="fa fa-edit"></i> {{ "{{ 'label.edit' | trans }}" }}
        {%- endif %}
    </a>
{%- endfor %}

