{% if ('delete' in actions) and (not hide_delete) %}
    {{ "{{ form_start(delete_form) }}" }}
{% endif %}
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" title="{{ "{{ 'label.list' | trans }}" }}" class="btn btn-xs">
        <i class="fa fa-list"></i> {{ "{{ 'label.list' | trans }}" }}
    </a>
    {% if ('edit' in actions) and (not hide_edit) %}
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" 
           title="{{ "{{ 'label.edit' | trans }}" }}" class="btn btn-xs">
            <i class="fa fa-edit">{{ "{{ 'label.edit' | trans }}" }}</i>
        </a>
    {% endif %}
    {% if ('delete' in actions) and (not hide_delete) %}
        {{ "{{ form_widget(delete_form.submit) }}" }}
        {{ "{{ form_rest(delete_form) }}" }}
        </form>
    {% endif %}

